<h1>Botones:</h1>
<!-- Llamamos a una función local que llama a una función del servicio -->
<p>General:</p>
<button (click)="addNumberToCounterGeneral(1)">Añadir 1</button>
<button (click)="addNumberToCounterGeneral(5)">Añadir 5</button>
<button (click)="addNumberToCounterGeneral(10)">Añadir 10</button>

<p>Students:</p>
<button (click)="addNumberToCounterStudents(1)">Añadir 1</button>
<button (click)="addNumberToCounterStudents(5)">Añadir 5</button>
<button (click)="addNumberToCounterStudents(10)">Añadir 10</button>

<p>Teachers:</p>
<button (click)="addNumberToCounterTeachers(1)">Añadir 1</button>
<button (click)="addNumberToCounterTeachers(5)">Añadir 5</button>
<button (click)="addNumberToCounterTeachers(10)">Añadir 10</button>